* {
	/* outline: 1px dashed red; */
}
body {
	margin: 0;
	font: 1.1em arial, sans-serif;
}

header {
	height: 560px;
}
section {
	min-height: 560px;
}
header, section, footer {
	padding-top: 50px;
	padding-bottom: 5px;
}
header, nav ul, section, footer {
	padding-left: 75px;
	padding-right: 75px;
}

header {
	/* background: url();
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header h1, h4 {
	margin: 0;
}
h1 {
	border-radius: 12px;
	padding: 12px;
	background: rgba(255, 255, 255, 0.7);
	font-size: 5em;
	text-align: center;
	text-shadow: 3px 3px 18px black;
	color: white;
}

nav {
	height: 12px;
	/* padding: 0px 16px; */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
nav ul {
	margin: 0;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	box-shadow: 8px 8px 20px grey;
	list-style-type: none;
	overflow: hidden;
}
nav li {
	float: left;
	border-right: 1px solid #bbb;
}
nav li:first-child, li:last-child {
	border-right: none;
}
nav li a {
	display: block;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	color: #666;
	/* background-color: #dddddd; */
}
nav li a:hover:not(.active) {
	background-color: #ddd;
	color: white;
}

footer {
	background-color: #444444;
	color: white;
}

dt {
	font-weight: bold;
	font-size: 2em;
}
img {
	width: 90%;
	height: auto;
}
li {
	margin-bottom: 5px;
}

.active {
	background-color: #11998e;
	color: white;
}
.bookmark {
	width: 40%;
	border-radius: 10px 50px 50px 10px;
	padding: 8px 14px;
	background-color: #11998e;
	color: white;
	/* display: inline; */
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}
.flex-row {
	/* width: 90%; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.tips {
	border: 3px solid #11998e;
	padding: 8px;
}
.width-test {
	width: 360px;
	height: 2px;
	background: red;
}

.flex-row img {
	width: 50%;
	height: auto;
}
.flex-row ol, .flex-row p {
	min-width: 40%;
}
.tips dt {
	font-size: 1.2em;
}

@media screen and (max-width: 360px) {
	body {
		font: 1em Arial, sans-serif;
	}
	header, nav ul, section, footer {
		padding-left: 5px;
		padding-right: 5px;
	}
	h1 {
		font-size: 3em;
	}
	header, section, footer {
		padding-top: 75px;
	}
	
	.bookmark {
		width: 80%;
	}
	.flex-row {
		flex-direction: column;
		align-items: center;
	}
	
	.flex-row img {
		width: 90%;
	}
}
